<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Сарказм</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Открыть тег:</string>
			<key>Key</key>
			<string>SarcasmTagOpen</string>
			<key>DefaultValue</key>
			<string>sarcasm mode on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Закрыть тег:</string>
			<key>Key</key>
			<string>SarcasmTagClose</string>
			<key>DefaultValue</key>
			<string>sarcasm mode off</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Зануда</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Открыть тег:</string>
			<key>Key</key>
			<string>DownerTagOpen</string>
			<key>DefaultValue</key>
			<string>zanuda mode on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Закрыть тег:</string>
			<key>Key</key>
			<string>DownerTagClose</string>
			<key>DefaultValue</key>
			<string>zanuda mode off</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
